[Unit]
Description=Disk Usage Metrics Agent
[Service]
PIDFile=/run/disk_metrics_agent.pid
ExecStart=/bin/bash --login -c '/usr/bin/python3.7 /var/disk_metrics_agent/collector.py'
User=root
Group=root
WorkingDirectory=/var/disk_metrics_agent/
Restart=always
[Install]
WantedBy=multi-user.target